body
{
    margin: 0%;
}


nav
{
    margin:0%;
    padding-top: 8%;
    padding-right: 4%;
    padding-bottom:8%;
    background-color:cornflowerblue;
    min-height: 50px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

    
    


   

