.NavList
{
    flex-wrap: nowrap;
    overflow-x: auto;
    display: flex;
    gap:6%;
}



@media (min-width : 1024px ) 
{
    nav
    {
        padding-top: 4%;
        padding-bottom:3%;
    }

    .hamburger_button
    {
        display: none;
    }

    .info_button
    {
        display:block;
    }

    .info2_button
    {
        display: block;
    }

}