nav
{
    margin:0%;
    padding-top: 8%;
    padding-right: 4%;
    padding-bottom:8%;
    background-color:cornflowerblue;
    min-height: 50px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}


.info_button
{
    display:none;
}

@media (min-width : 1024px ) 
{
    nav
    {
        margin:0%;
        padding-top: 4%;
        padding-right: 4%;
        padding-bottom:3%;
        background-color:cornflowerblue;
        min-height: 50px;
        justify-content: flex-end;
        align-items: center;
        display: flex;
    }

    .hamburger_button
    {
        display: none;
    }

    .info_button
    {
        display:block;
    }

}